In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import classification_report

ModuleNotFoundError: No module named 'xgboost'

In [3]:
ndf = pd.read_csv("new dataset.csv")
ndf

,Unnamed: 0,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,diff_org,diff_dest,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,0,9839.64,170136.00,160296.36,0.00,0.00,0,9839.64,0.00,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,1864.28,0.00,0,0,1,0
2,2,181.00,181.00,0.00,0.00,0.00,1,181.00,0.00,0,0,0,1
3,3,181.00,181.00,0.00,21182.00,0.00,1,181.00,-21182.00,1,0,0,0
4,4,11668.14,41554.00,29885.86,0.00,0.00,0,11668.14,0.00,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,6362615,339682.13,339682.13,0.00,0.00,339682.13,1,339682.13,339682.13,1,0,0,0
6362616,6362616,6311409.28,6311409.28,0.00,0.00,0.00,1,6311409.28,0.00,0,0,0,1
6362617,6362617,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,6311409.28,6311409.27,1,0,0,0
6362618,6362618,850002.52,850002.52,0.00,0.00,0.00,1,850002.52,0.00,0,0,0,1
6362619,6362619,850002.52,850002.52,0.00,6510099.11,7360101.63,1,850002.52,850002.52,1,0,0,0

In [4]:
ndf.drop("Unnamed: 0",axis = 1,inplace = True)

In [5]:
X = ndf.drop("isFraud",axis = 1)
y = ndf["isFraud"]

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,stratify=y,random_state = 42)

In [ ]:
model = xgb.XGBClassifier(
    n_estimators=600,
    learning_rate=0.1,
    max_depth=6,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    scale_pos_weight=scale_pos_weight,
    eval_metric="logloss",
    n_jobs=-1
)

In [7]:
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(f"---{name}---")
    print(classification_report(y_test, y_pred, digits=4))

---Decision Tree---
              precision    recall  f1-score   support

           0     0.9999    0.9999    0.9999   1270881
           1     0.9091    0.8886    0.8987      1643

    accuracy                         0.9997   1272524
   macro avg     0.9545    0.9443    0.9493   1272524
weighted avg     0.9997    0.9997    0.9997   1272524

---Random Forest---
              precision    recall  f1-score   support

           0     0.9998    1.0000    0.9999   1270881
           1     0.9590    0.8259    0.8875      1643

    accuracy                         0.9997   1272524
   macro avg     0.9794    0.9129    0.9437   1272524
weighted avg     0.9997    0.9997    0.9997   1272524

In [8]:
import joblib
joblib.dump(model,"fraud_detection.pkl")

['fraud_detection.pkl']